.hidden {
    display: none;
}
.rate {
    color: rebeccapurple;
}
.clicked {
    color: blue;
    font-size: 35px;
    transition: color 10ms ease-in-out;
}
body {
    text-align: center;
    width: auto;
    height: auto;
}
#span {
 font-size: medium;
 font-family: 'Courier New', Courier, monospace;
 font-weight: 500;
}
#li {
    font-size: small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

