.hidden {
    display: none;
}
.rate {
    color: rebeccapurple;
}
.clicked {
    color: blue;
    font-size: 35px;
    transition: color 10ms ease-in-out;
}
body {
    text-align: center;
    width: auto;
    height: auto;
    widows: 100;
}
#span {
 font-size: medium;
 font-family: 'Courier New', Courier, monospace;
 font-weight: 600;
}
#li {
    font-size: small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
}
.login-input {
    text-align: center;
    align-items: center;
    height: 20px;
    width: 200px;
    padding: 5px;   
}
.todo-input {
    text-align: center;
    align-items: center;
    height: 30px;
    width: 400px;
    padding: 5px;
    font-size: small;
}
#quote {
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
   }
img {
    height: auto;
    width: 480px;
}